/* Include at least 5 CSS rules */
body {
    font-family:'Times New Roman', Times, serif;
    background-color: #DDA15E;
    padding: 20px;
}
header {
    background-color: #9C6644;
    padding: 20px;
    text-align: center;
    border: 4px solid #D4A373;
}
nav {
    overflow: hidden;
    text-align: center;
}
footer {
    padding: 10px;
    text-align: center;
    font-size: small;
}
section {
    background-color: #9C6644;
    margin: 20px;
    padding: 20px;
    border: 4px solid #D4A373;
}

a:link{
    color: #4a3120;
}
p {
    color: #4a3120;
    margin: 15px;
    padding: 10px;
}
h1, h2, h3 {
    color:#4a3120;
}